<footer class="footer">
    <div class="container footer__container">
        <section class="footer__section">
            <div class="logo logo--footer">
                <a class="logo__link" href="">
                    <img class="logo__icon logo__icon--white" src="assets/img/logo.png" alt="логотип" width="26" height="26">
                </a>
                <a class="logo__link logo__link--white" href="">
                    CONQUEST
                </a>
            </div>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="tel:8 (499) 450-47-97">8 (499) 450-47-97</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="mailto:info@conquest.watch.ru">info@conquest.watch.ru</a>
                </li>
            </ul>
        </section>

        <section class="footer__section">
            <h3 class="footer__title">о компании</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="">Наши магазины</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">Вакансии</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">Сертификаты</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">Отзывы</a>
                </li>
            </ul>
        </section>

        <section class="footer__section">
            <h3 class="footer__title">покупателям</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="">Каталог товаров</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">Как заказать?</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">FAQ</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">Корпоративным клиентам</a>
                </li>
            </ul>
        </section>

        <section class="footer__section">
            <h3 class="footer__title">оплата и доставка</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="">Способы оплаты</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">Время доставки</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">Гарантии и ремонт</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">Возврат и компенсация</a>
                </li>
            </ul>
        </section>

    </div><!-- /container footer__container -->
</footer>