<header class="header">

    <div class="container header__container">

        <button class="header__btn" type="button"></button>

        <div class="logo">
            <a class="logo__link" href="index.html">
                <img class="logo__icon" src="assets/img/logo.png" alt="логотип" width="26" height="26">
            </a>
            <a class="logo__link" href="index.html">
                CONQUEST
            </a>
        </div>
    
        <nav class="nav">
            <a class="nav__link" href="catalog.html">Каталог</a>
            <a class="nav__link" href="">Акции</a>
            <a class="nav__link" href="">Доставка</a>
            <a class="nav__link" href="">Контакты</a>
        </nav>
    
        <div class="user-block">
            <input class="user-block__search" id="search" type="search">
            <label for="#search">
                <svg class="user-block__icon user-block__icon--search">
                    <use xlink:href="#search-icon"></use>
                </svg>
            </label>

            <a class="user-block__link" href="">
                <svg class="user-block__icon user-block__icon--favorite">
                    <use xlink:href="#favourite"></use>
                </svg>
            </a>

            <a class="user-block__link" href="">
                <svg class="user-block__icon user-block__icon--basket">
                    <use xlink:href="#basket"></use>
                </svg>
            </a>

            <span class="user-block__count">0</span>

        </div><!-- /user-block -->
    </div><!-- /container header__container -->
</header>