@import "variables";
@import "mixins";


/* Default styles */

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;

    position: relative;
    
    background-color: #fff;

    color: $text-default;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 20px;
}

/* Blocks */
@import "blocks/header";
@import "blocks/logo";
@import "blocks/user-block";
@import "blocks/nav";
@import "blocks/footer";
@import "blocks/intro";
@import "blocks/popular";
@import "blocks/banner";
@import "blocks/news";
@import "blocks/breadcrumbs";
@import "blocks/catalog";
@import "blocks/form";
@import "blocks/distribution";
@import "blocks/watchbands";
@import "blocks/card";
@import "blocks/looked";
@import "blocks/gallery";
@import "blocks/like";
@import "blocks/basket";
@import "blocks/range";
@import "blocks/pageUp";

/* Vendor libs */

